*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(32, 32, 32);
}

#Header {
    display: grid;
    grid-template-columns: 1fr 1fr 8vw;
    grid-template-rows: 11vh;
    justify-content: center;
    background-color: black;
    /* border-bottom: 1.5px solid white; */
}
#Header img{
    height: 57.23;
    padding: 0;
    margin-left: 20px;
    margin-top: 7px;
    margin-right: 10px;
}
#Header h4{
   font-size: 3.5rem;
   font-family: 'Alegreya Sans', sans-serif;
   opacity: 96%;
   font-weight: 600;
   justify-self: start;
   letter-spacing: 3px;
   position: absolute;
   top: 3.2px;
   left: 6.5%;
   color: white;
}

hr{
    opacity: 90%;
    color: white;
}
.navbar ul{
    display: grid;
    grid-template-columns: 1.9fr 1.87fr 2.9fr 2.45fr 1.87fr 2.8fr;
    margin-left: 150px;
    justify-items: start;
    list-style: none;
    font-size: 16px;
}

.navbar li{
    margin-top: 15px;
    margin-right: 100px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.navbar a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    transition: .5s ease-out;
    font-size: 16.3px;
}
.active{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    font-size: 16.3px;
}

h1{
    text-align: left;
    font-size: 50px ;
    font-weight: 400;
    font-family: 'Alegreya sans', sans-serif;
    letter-spacing: 2px;
    margin: 40;
    color: rgb(253, 253, 253)
}
.gallery img{
    height: 250px;
    width: 250px;
    margin: 0;
}
.gallery{
    margin: 40px 30px;
}
.gallery img{
    transition: 1s;
    padding: 10;
    width:  390px;
    height: 390px;
    
}
.gallery img:hover{
    transform: scale(1.08);
}

footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,2rem);
    background: black;
    height: 30vh;
}

footer a{
    text-decoration: none;
    color: white;
}

footer ul{
    list-style: none;
}
.foot-one{
    grid-column: 1 /span 4;
    grid-row: 1 /span 2;
    display: flex;
    margin-left: 60%;
}

.foot-one ul{
    display: flex;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: lighter;
    margin-left: 9rem;
    margin-top: 23px;

}

.foot-one li{
    letter-spacing: .2px;
    margin-right: 35px;
    transition: transform .5s, filter .5s ease-in-out;
    filter: grayscale(100%);
}

.foot-one li:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}

#instalink{
    margin-right: 0px;
}

.foot-two{
    border-top: 1px solid white;
    grid-column: 1 /span 4;
}
.foot-two ul{
    display:grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: 5vh;
}
.logo{
    margin-left: 1rem;
    position: absolute;
    margin-top: 1rem;
}
.facts{
    color: white;
    grid-column: 1;
    padding-left: 6rem;
    margin-top: 1.75rem;
    font-size: 2.5rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
}
.copyright{
    color: #fff;
    margin-top: 92px;
    margin-left: 55%;
}
.foot-two a{
    font-size: 1.5rem;
    color: white;

}
.foot-two img{
    width: 70px;
}
